@mixin toEllipse($line) {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: $line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@mixin disable() {
  background-color: #e4e4e4;
  color: #c1c0c0;
}